# Node modules
node_modules/

# Database
db.sqlite
db.sqlite-shm
db.sqlite-wal

# Environment files
.env

# Logs
*.log

# Build output
dist/
gen/

# VS Code
.vscode/

# Mac/Windows
.DS_Store
Thumbs.db
